@page "/"
@namespace blazortest.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>blazortest</title>
    <base href="~/" />
    <link rel="stylesheet" href="css/bootstrap/bootstrap.min.css" />
    <link href="css/site.css" rel="stylesheet" />
</head>
<script>
    window.blazorHelpers = {
        getScrollTop : function (element) {
            return element.scrollTop;
        },
        setScrollTop : function (element, value) {
            element.scrollTop = value;
            return element.scrollTop;
        },
        getScrollTopMax : function (element) {
            return element.scrollTopMax;
        },
        getScrollHeight : function (element) {
            return element.scrollHeight;
        }
    }
</script>
<body>
    <app>@(await Html.RenderComponentAsync<App>())</app>

    <script src="_framework/blazor.server.js"></script>
</body>
</html>
